<!DOCTYPE html>
<html>

<head>
    <title>first example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./js/avalon.js"></script>
        <script src="./my-js/test.js"></script>
        <script type="./js/jquery-3.2.1.min.js"></script> -->
    <script type="text/javascript" src="require.js" data-main="../config/config"></script>
    <link rel="stylesheet" type="text/css" href="../dest/css/style.css">
    <link rel="stylesheet" type="text/css" href="../css_module/bootstrap.min.css">

</head>

<body>
    <div class="header" ms-controller="navController">
        <div class="head-container">
            <a href='#' class="col-md-1 home">Home</a>
            <ul class="menu-list col-md-10">
                <li class="menu-item" ms-for="title in @titles">{{@title}}</li>
            </ul>
            <a href="#" class="col-md-1 login">Login</a>        
        </div>
    </div>
    <div class="content-wrap" ms-controller="contentController">
        <div class="row">
            <div class="col-lg-2 category" >
                <h4>category</h4>
                <ul class="category-list">
                    <li class="category-item" ms-for="item-cate in @category">{{@item-cate}}</li>
                </ul>
            </div>
            <div class="article-content col-lg-7">
                <div class="tool-group row">
                    <div class="tool-left">
                        <span class="">tody</span>
                        <span class="">week</span>
                        <span class="">month</span>
                        <!-- <input type=""> -->
                    </div>
                    <div class="tool-right">
                        <a href="#">write</a>
                    </div>
                </div>
                <ul class="article-list">
                    <li ms-for="(title, content) in @contents" class="article-item">
                        <a href="#">
                            <div class="item-content">
                                <span class="article-title">{{@title}}</span>
                                <div class="article-content">conten</div>
                                <div class="article-info-group row">
                                    <div class="left-group">
                                        <span class="name">somiar</span>
                                        <span class="time">..</span>
                                    </div>
                                    <div class="right-group">
                                        <span class="scan">0</span>
                                        <span class="like">0</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="recommend col-lg-3">
                <h4>recommend</h4>
                <div class="recommend-list">
                    <div class="recommend-item">
                        <a href="#">
                            <p class="recommend-title">title length test .......</p>
                            <div class="info">
                                <span class="user">usr</span>
                                <span></span>
                                <span class="time"></span>
                            </div>
                        </a>
                    </div>
                    <div class="recommend-item">
                        <a href="#">
                            <p class="recommend-title">t1</p>
                            <div class="info">
                                <span class="user">usr</span>
                                <span></span>
                                <span class="time"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</body>

<footer>
    <div class="footer-container">
        <a href="#" class="share"></a>
    </div>
</footer>

</html>